:root {
    --blanco-perla: #FBFCF8;
    --gris: #E5ECE9;
    --naranja-oscuro: #D33A1A; /* Le faltaba el "#" en la declaración de color */
    --texto: #3e3e3e;
    --naranja: #ff5900;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helveticas Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

.imagen-navbar {
    position: relative; /* Necesario para el posicionamiento absoluto */
    height: 56px; /* Altura igual a la del navbar */
    overflow: hidden; /* Recorta cualquier contenido que se desborde */
}

.hero {
    position: absolute; /* Posiciona la imagen de fondo */
    top: 0; /* Alinea la parte superior de la imagen con la parte superior del contenedor */
    left: 50%; /* Alinea horizontalmente al centro */
    width: 100%; /* Mantiene la proporción de la imagen */
    height: auto; /* Mantiene la altura de la imagen según su proporción */
    transform: translateX(-50%); /* Centra la imagen en el contenedor */
}

/*CONTENEDOR PRINCIPAL*/
.contenedor-principal {
    display: flex; /* Cambia a inline-flex para que ocupe solo el espacio del contenido */
    gap: 0;
    margin: 0;
    height: 80vh;
}
.contenedor-panel {
    background-color: var(--blanco-perla);
    width: 15rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 2rem 0 0 2rem;
    text-align: center;
    height: 100%; /* Ajusta para ocupar el 100% del 90vh del padre */
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contenedor-panel form{
    margin-top: 1rem;
}

.btn-imagen {
    border-width: 0;
    font-size: 17px;
    padding: 10px; /* Ajusté el padding para mayor altura del botón */
    background-color: var(--naranja);
    color: white;
    border-radius: 15px;
    border-color: var(--naranja);
    font-weight: bold;
    cursor: pointer;
}

.btn-imagen:hover{
    background-color: var(--naranja-oscuro); /* Asegúrate de definir var(--naranja-oscuro) */
    border-color: var(--naranja-oscuro);
}

.ejemplo {
    display: block;
    max-width: 100%; /* Ajusta el ancho máximo al contenedor */
    max-height: 150px; /* Limita la altura máxima de la imagen */
    margin-top: 2rem;
}

.sugerencia {
    font-size: 0.9rem;
    color: var(--texto);
    margin: 0;
}

.select-habitaciones{
    text-align: center;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    background-color: var(--gris);
    border-radius: 15px;
    border-color: var(--gris);
    margin-top: 1.5rem;
    color: #3e3e3e;
    font-weight: bold;
    height: 45px;
}

.select-habitaciones:hover{
    background-color: var(--blanco-perla); /* Cambia de color al pasar el mouse */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.contenedor-inputs {
    margin-top: 1rem;
    display: flex; /* Usar flexbox para alinear los grupos de inputs */
    justify-content: space-between; /* Espacio entre los grupos */
}

.input-group {
    display: flex;
    flex-direction: column; /* Colocar label y input uno encima del otro */
    width: 45%;
}

.btn-reconocer{
    width: 100%;
    font-size: 15px;
    padding: 5px;
    background-color: var(--gris);
    border-radius: 15px;
    border-width: 0;
    color: #3e3e3e;
    font-weight: bold;
    height: 45px;
    margin-top: 1.5rem;
    text-align: center;
}

.btn-reconocer:hover{
    background-color: var(--blanco-perla); /* Cambia de color al pasar el mouse */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.input-altura {
    width: 85%; /* Hacer que el input ocupe todo el ancho del grupo */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-anchura {
    width: 85%; /* Hacer que el input ocupe todo el ancho del grupo */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-siguiente{
    margin-top: 2rem;
    margin-bottom: 1.5rem; /* Más espacio entre el botón y la imagen */
    width: 100%;
    border-width: 0;
    font-size: 17px;
    padding: 10px; /* Ajusté el padding para mayor altura del botón */
    background-color: var(--naranja);
    color: white;
    border-radius: 15px;
    border-color: var(--naranja);
    font-weight: bold;
    cursor: pointer;
    height: 45px;
}

.btn-siguiente:hover{
    background-color: var(--naranja-oscuro); /* Asegúrate de definir var(--naranja-oscuro) */
    border-color: var(--naranja-oscuro);
}

.contenedor-plano {
    background-color: var(--gris);
    padding: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100%;
    height: 100%; /* Ocupará el 100% del contenedor padre que ya tiene 90vh */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-items: center;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
}

.contenedor-plano img {
    display: none; /* La imagen estará oculta hasta que se suba */
    max-width: 100%;
    height: 100%;
}