<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>SPC</title>
    <link rel="stylesheet" href="{% static 'posicionCamaras.css' %}">
</head>
<body class="contenedor-principal">
<!-- Navbar -->
{% include 'navbar.html' %}
{# RESTO DEL BODY #}
<div class="contenedor_resultado">
    <img src="{{ image_path }}" alt="Posición de Cámaras">
    <div class="botones-acciones">
        <button onclick="imprimirImagen()" class="btn-imprimir">Imprimir Imagen</button>
        <button onclick="comprar()" class="btn-comprar">Comprar</button>
    </div>
</div>

</body>
<script>
    function imprimirImagen() {
        // Obtén la URL de la imagen
        var imagenUrl = document.querySelector('.contenedor_resultado img').src;

        // Crea un nuevo elemento <canvas>
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');

        // Crea una nueva imagen
        var img = new Image();
        img.src = imagenUrl;

        // Cuando la imagen se carga, dibuja en el canvas y llama a imprimir
        img.onload = function() {
            // Ajusta el tamaño del canvas al tamaño de la imagen
            canvas.width = img.width;
            canvas.height = img.height;
            context.drawImage(img, 0, 0);

            // Imprime el canvas
            var dataUrl = canvas.toDataURL();
            var windowPrint = window.open('', '_blank');
            windowPrint.document.write('<html><head><title>Imprimir Imagen</title></head><body>');
            windowPrint.document.write('<img src="' + dataUrl + '" style="max-width: 100%;">');
            windowPrint.document.write('</body></html>');
            windowPrint.document.close();

            windowPrint.addEventListener('load', function() {
                windowPrint.print();
                windowPrint.close(); // Cierra la ventana después de imprimir
            });
        };
    }

    function comprar() {
        // Redirige a la vista de facturación
        window.location.href = "/factura/generar_factura";
    }
</script>
</html>
